/* main styling elements */ 

body {
	width: 100%;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	margin: 0;
	padding: 0;
	background-image: url(../img/border_logo.png);
	background-size: 40px 25px;
}

#wrapper {
	width: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
}

/* header and top header elements */

header {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: bold;
	width: 38%;
	margin-left: 31%;
	padding-bottom: 10px;
	background-color: #000;
}

#top_img {
	width: 80%;
	margin-top: 15px;
	opacity: 1;
	border: 4px solid #FFF;
}

#top_img:hover {
	cursor: pointer;
}

#top nav {
	width: 90%;
	margin-left: 5%;
	padding: 10px 0;
	font-size: 1.5em;
}

/* slide show styling 
---------------------------------- */

#slide_parent {
	border-top: 12px solid #FFD700;
	border-bottom: 12px solid #000;
	margin: 20px 0;
	background-color: #FFF;
}

#slideshow {
	width: 100%;
	border-top: 3px solid #000;
	border-bottom: 5px solid #FFD700;
	overflow: hidden;
	background-color: #000;
	height: 500px;
}

#img_slide {
	display: inline-block;
	margin: 10px 0;
	background-repeat: no-repeat;
	background-position: left;
	position: relative;
}


/* navigation styling */
nav li {
	display: inline-block;
	margin: 10px;
}

li {
	list-style: none;
}

a {
	color: #FFF;
	margin: 10px;
	text-decoration: none;
	transition: color .5s ease-in-out;
}

a:hover {
	color: #FFD700;
	cursor: pointer;
}

.top a:hover {
	color: #000;
}


/* specific styling */
#content, footer {
	background-color: #000;
	color: #FFF;
	padding: 5px;
	border-top: 25px solid #FFD700;
	margin: 0 0 25px 0;
}

#about_art {
	text-align: left;
	padding: 5px 25px;
}

#msg_art {
	border-bottom: 2px dotted #FFF;
	padding-bottom:15px;
}

#product_art ul {
	display: inline-block;
	height: 300px;
	margin-left: -35px;
}

#content header {
	border-bottom: 2px dotted #FFF;
	margin-bottom: 10px;
}

#content header h2 {
	margin: 15px 0;
}

.big_link {
	font-size: 1.25em;
	display: block;
	padding: 10px;
}

.announcement {
	font-size: 1.5em;
	margin-bottom: 0;
}

footer {
	margin-bottom: 0;
}

footer nav {
	margin-bottom: 30px;
}

#self-credit {
	font-size: 12px;
	border-top: 2px dotted #FFF;
	padding-top: 10px;
	margin-top: 25px;
	margin-bottom: 0;
	padding-bottom: 0;
}

/* form styling */

.single_input {
	width: 20%;
}

textarea {
	width: 50%;
	height: 100px;
}

input, textarea {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	margin: 10px 0;
	border: 5px solid #FFF;
	padding: 5px;
	transition: border 1s ease-in-out;
}

input:focus, textarea:focus {
	outline: 0;
	border: 5px solid #FFD700;
}

input[type="checkbox"] {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	margin-right: 10px
}

input[type="submit"] {
	width: 20%;
	font-size: 18px;
	background-color: #FFF;
	font-family: 'Roboto Slab', serif;
}

input[type="submit"]:hover {
	border: 5px solid #FFD700;
}

#form_success {
	font-size: 1.2em;
}

.error, form span {
	color: red;
}

.valid {
	color: green;
}

/* keyframes 
------------------------------ */

@-webkit-keyframes slideshow {
	33%  {background-position: -1000px}
	65%  {background-position: -2000px}
}

